<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/inicio}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/listamascotas}">Empleados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contacto}">Historial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/servicio}">Reportes</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<!-- Contenido de la página -->
<h3>Recursos Humanos - TravelTrip</h3>
<div style="text-align: center;">
    <img th:src="@{travel_trip_logo.png}" width="900px", height="1000px">
</div>
</body>
</html>


